page-list-order {

    .gr div{

        padding: 5px;
        width: 100%;
        border: 1px solid grey;
        border-radius: 2px;
        text-align: center;
    
        }

    .col{
        padding: 5px;
        width: 20%;

    }
}
