<ion-menu [content]="content" id="cs">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menus</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <ion-list>
      <button menuClose ion-item *ngFor="let p of pagescs" (click)="openPage(p)">
        {{p.title}}
      </button>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-menu [content]="content" id="coc">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menus</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>  
  </ion-menu>

  <ion-menu [content]="content" id="csh">
    <ion-header>
      <ion-toolbar>
        <ion-title>Menus</ion-title>
      </ion-toolbar>
    </ion-header>
  
    <ion-content>
      <ion-list>
        <button menuClose ion-item *ngFor="let p of pagescsh" (click)="openPage(p)">
          {{p.title}}
        </button>
      </ion-list>
    </ion-content>  
  </ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>